figure {
  margin: 0;
}

video {
  width: 100%;
}

.controls {
  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.controls .progress {
  width: 100%;
}

#progress {
  width: 100%;
}

/* does not work */
#playpause {
  margin-right: auto;
}
